<html>

<head>
    <meta name="title" content="To-do List App">
    <!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js"></script>
    <link href="static/dist/output.css" rel="stylesheet">

</head>

<body>
    <h2>Pomodoro Timer</h2>
    <button id="timer">Start Timer</button> <!-- chat gpt-->
    <button id="pause">Pause</button>
    <button id="reset">Reset</button>

    <div id="time-left"></div>

    <div class="container">
        <div>
        <h1>To-Do List:</h1>
        </div>

        <div>
            <p>Enter task:</p>
            <p><input type = "text" id = "taskInput" placeholder="Enter task"/></p>
            <p><input type = "date" id = "dateInput" placeholder="choose due date"/></p>
            <button id="addButton"> Add </button>
            <button id="deleteButton"> Delete </button>
            <button id="doneButton"> Mark complete </button>
        </div>
    </div>

    <div class="task-list">
        <ul id="todo_list"></ul>
    </div>
</body>

</html>